# Environment Configuration
NODE_ENV='development'
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Finnhub API configuration for stock data
NEXT_PUBLIC_FINNHUB_API_KEY=your_finnhub_api_key_here
FINNHUB_BASE_URL=https://finnhub.io/api/v1

# MongoDB Database Connection String
MONGODB_URI=your_mongodb_connection_string_here

# Better Auth Configuration
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000

# Nodemailer Configuration for Email delivery
NODEMAILER_EMAIL=your_email@gmail.com
NODEMAILER_PASSWORD=your_email_app_password_here

# NVIDIA NIM API configuration for AI Analysis
NVIDIA_API_KEY=your_nvidia_api_key_here

# Cron Security Secret for automated background jobs
CRON_SECRET=your_cron_secret_here
